.advantages__bg {
  height: 100%;
  background-image: url("..//img/advantages-bg-desktop@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: $grey;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantages-bg-desktop@2x.jpg");
  }
}

.advantages h2 {
  margin: 0 auto;
  padding-top: 111px;
  width: 228px;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
}

.advantages__list {
  @include list-reset;
  margin-top: 48px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.advantages__item {
  margin-bottom: 20px;
  padding-top: 80px;
  padding-bottom: 25px;
  padding-left: 30px;
  width: 31%;
  background-color: $text-color;
}

.advantages__item h3 {
  position: relative;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.advantages__item p {
  margin: 0;
  padding-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

.advantages__item--liner br {
  display: none;
}


.advantages__item--liner p {
  max-width: 290px;
}

.advantages__item--done p {
  max-width: 280px;
}

.advantages__item--boat p {
  max-width: 240px;
}

.advantages__item--liner h3 {
  &::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 32px;
    top: -49px;
    left: 0;
    background-image: url("../img/icon-liner.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.advantages__item--done h3 {
  &::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 21px;
    top: -45px;
    left: 0;
    background-image: url("../img/icon-done.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.advantages__item--boat h3 {
  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 32px;
    top: -42px;
    left: 0;
    background-image: url("../img/icon-boat.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (max-width: $tablet-width) {
  .advantages__bg {
    background-image: url("../img/advantages-bg-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantages-bg-tablet@2x.jpg");
    }
  }

  .advantages h2 {
    padding-top: 90px;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
  }

  .advantages__list {
    padding-bottom: 80px;
  }

  .advantages__item {
    padding-top: 70px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 206px;
  }

  .advantages__item--liner br {
    display: block;
  }

  .advantages__item--done br {
    display: none;
  }


  .advantages__item h3 {
    line-height: 25px;
  }

  .advantages__item--liner p {
    width: 160px;
  }

  .advantages__item--done p {
    width: 165px;
  }

  .advantages__item--boat p {
    width: 167px;
  }

  .advantages__item--liner h3 {
    &::before {
      top: -49px;
      left: -2px;
    }
  }

  .advantages__item--done h3 {
    &::before {
      top: -44px;
      left: -2px;
    }
  }

  .advantages__item--boat h3 {
    &::before {
      top: -39px;
      left: -3px;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    margin: 0 auto;
  }

  .advantages__bg {
    background-image: url("../img/advantages-bg-mobile@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantages-bg-mobile@2x.jpg");
    }
  }

  .advantages h2 {
    padding-top: 55px;
    width: 100%;
  }

  .advantages__list {
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 35px;
  }

  .advantages__item {
    margin: 0 auto;
    margin-bottom: 33px;
    width: 290px;
  }

  .advantages__item h3 {
    width: 170px;
  }

  .advantages__item p {
    padding-top: 7px;
  }

  .advantages__item--liner p {
    width: 255px;
  }

  .advantages__item--done p {
    width: 220px;
  }

  .advantages__item--boat p {
    width: 240px;
  }

  .advantages__item--liner br {
    display: none;
  }
}
