.button {
  display: block;
  padding-top: 10px;
  width: 210px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 21px;
  background-color: $text-color;
  color: $main-color;
}

@media (max-width: $tablet-width) {
  .button {
    width: 239px;
  }
}

@media (max-width: $mobile-width) {
  .button {
    width: 220px;
  }
}
