.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 30px;
}

@media (max-width: $tablet-width) {
  .container {
    max-width: 680px;
    padding: 0;
  }
}

@media (max-width: $mobile-width) {
  .container {
    max-width: 320px;
  }
}
