.contacts {
  margin-top: 120px;
  margin-bottom: 120px;
}

.contacts__wrapper {
  display: flex;
}

.contacts__map {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 22px;
    left: 249px;
    bottom: 66px;
    background-image: url("../img/icon-marker.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.contacts__map img {
  display: block;
  width: 560px;
  height: 306px;
}

.contacts__info {
  margin-top: 76px;
  margin-left: 100px;
  width: 500px;
}

.contacts__info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.contacts__list {
  @include list-reset;
  margin-top: 32px;
}

.contacts__item {
  position: relative;
  margin-bottom: 21px;
  padding-left: 28px;
  line-height: 24px;
}

.contacts__item p {
  margin: 0;
}

.contacts__item a {
  display: block;
  color: $main-color;
}

.contacts__item--adress {
  ::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url("../img/icon-marker.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.contacts__item--phone {
  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 2px;
    left: 0;
    background-image: url("../img/icon-phone.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.contacts__item br {
  display: none;
}

@media (max-width: $tablet-width) {
  .contacts {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .contacts__map img {
    width: 324px;
    height: 335px;
  }

  .contacts__info {
    margin-top: 67px;
    margin-left: 30px;
    width: 320px;
  }

  .contacts__list {
    margin-top: 29px;
  }

  .contacts__item br {
    display: block;
  }

  .contacts__item--adress {
    &::before {
      top: 5px;
    }
  }

  .contacts__map::before {
    left: 110px;
    bottom: 95px;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    margin-top: 58px;
    margin-bottom: 70px;
  }

  .contacts__wrapper {
    flex-direction: column;
  }

  .contacts__map {
    order: 1;
    margin: 0 auto;
  }

  .contacts__map img {
    width: 290px;
    height: 316px;
  }

  .contacts__info {
    margin: 0 auto;
    width: 290px;
    margin-bottom: 10px;
  }

  .contacts__map::before {
    left: 112px;
    bottom: 65px;
  }
}
