.cruises {
  margin-top: 110px;
}

.cruises h2 {
  margin: 0 auto;
  width: 302px;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
}

.cruises__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 48px;
}

.cruises__item {
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.cruises__item span {
  display: block;
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $text-color;
}

.cruises__item img {
  display: block;
  width: 260px;
  height: 386px;
}

.cruises__actions {
  display: none;
  position: absolute;
  padding-top: 32px;
  padding-left: 25px;
  width: 260px;
  min-height: 386px;
  top: 0;
  left: 0;
  background-color: $main-color;
}

.cruises__item:hover .cruises__actions {
  display: block;
}

.cruises__actions h3 {
  margin: 0;
  padding-bottom: 13px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $text-color;
}

.cruises__actions-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  color: white;
}

.cruises__actions-item {
  padding-bottom: 12px;
}

.cruises__actions-item h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.cruises__actions-item p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: $grey-text;
}

.cruises__actions__button {
  margin-top: 13px;
  margin-bottom: 10px;
}

@media (max-width: $tablet-width) {
  .cruises {
    margin-top: 90px;
  }

  .cruises h2 {
    font-size: 26px;
    line-height: 39px;
    text-align: center;
  }

  .cruises__list {
    width: 680px;
  }

  .cruises__item span {
    bottom: 26px;
    left: 35px;
  }

  .cruises__item img {
    width: 309px;
    height: 386px;
  }

  .cruises__actions {
    width: 309px;
  }
}

@media (max-width: $mobile-width) {
  .cruises {
    margin-top: 55px;
  }

  .cruises h2 {
    width: 260px;
    font-size: 24px;
    line-height: 36px;
  }

  .cruises__list {
    flex-direction: column;
    width: 270px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .cruises__item img {
    width: 270px;
  }

  .cruises__item span {
    bottom: 16px;
    left: 25px;
  }

  .cruises__actions {
    width: 270px;
  }
}
