form {
  padding-top: 45px;
  padding-left: 49px;
  padding-right: 49px;
  padding-bottom: 40px;
}

.form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form br {
  display: none;
}

.form legend {
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $text-color;
}

.form__list {
  @include list-reset;
}

.form__input {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 303px;
  height: 43px;
  font-size: 14px;
  background-color: $text-color;
  border: none;
}

.form__input::-webkit-input-placeholder {
  color: $main-color;
}

.form__custom-checkbox {
  position: relative;
  padding-left: 23px;
  font-size: 10px;
  line-height: 13px;
  color: $text-color;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: -5px;
    left: 0;
    background-color: $text-color;
  }
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  appearance: none;
  border-radius: 0;
}

.form__checkbox:checked + .form__custom-checkbox::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__button {
  margin-top: 29px;
}

@media (max-width: $mobile-width) {
  form {
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .form br {
    display: block;
  }

  .form legend {
    width: 220px;
    line-height: 25px;
    text-align: center;
  }

  .form__input {
    width: 230px;
  }

  .form__custom-checkbox {
    padding-left: 28px;
    line-height: 12px;

    &::before {
      top: -3px;
      left: 1px;
    }
  }

  .form__custom-checkbox span {
    padding-left: 28px;
  }

  .form__button {
    margin-top: 12px;
  }
}
