.main-nav {
  position: relative;
  width: 100%;
}

.main-nav__toggle {
  display: none;
}

.main-nav__site-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
  margin-left: auto;
  width: 595px;
  font-weight: 500;
  line-height: 20px;
}

.main-nav__site-item a {
  display: block;
  width: auto;
  color: $text-color;
}

.main-nav__site-item a[href] {
  &:hover {
    color: $dark-grey;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width) {
  .main-nav__site-list {
    margin-top: 31px;
    width: 505px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: $mobile-width) {
  .main-nav__site-list {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
  }

  .main-nav__site-item a {
    padding-bottom: 30px;
    padding-left: 15px;
    color: $main-color;
  }

  .main-nav__toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 20px;
    z-index: 10;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }

  .main-nav--closed .main-nav__toggle {
    top: -42px;
    right: 0;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: $text-color;
    box-shadow: 0 6px 0 0 $text-color, 0 13px 0 0 $text-color;
  }

  .main-nav--open .main-nav__toggle {
    top: -37px;
    right: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 2px;
      background-color: $main-color;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__site-list {
    display: none;
  }

  .main-nav--closed .main-nav__site-list {
    display: none;
  }

  .main-nav--open {
    margin-bottom: 70px;
  }
}
