.navigation {
  margin-top: 10px;
  margin-left: 40px;
}

.navigation__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 600px;
  font-weight: 500;
  line-height: 20px;
}

.navigation__item a {
  color: $text-color;
}

.navigation__item a[href] {
  &:hover {
    color: $dark-grey;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width) {
  .navigation {
    margin-top: 4px;
    margin-left: 25px;
  }

  .navigation__list {
    width: 440px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: $mobile-width) {
  .navigation {
    margin: 0 auto;
    margin-top: 30px;
  }


  .navigation__list {
    width: 320px;
    flex-direction: column;
  }

  .navigation__item {
    padding-bottom: 17px;
    width: 190px;
  }
}
