.reservation {
  margin-top: 91px;
}

.reservation__bg {
  height: 555px;
  background-image: url("../img/reservation-bg-desktop@1x.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: $grey;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/reservation-bg-desktop@2x.jpg");
  }
}

.reservation__wrapper {
  display: flex;
}

.reservation__info {
  margin-top: 215px;
  margin-left: 60px;
}

.reservation__info h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}

.reservation__info p {
  margin: 0;
  padding-top: 6px;
  width: 352px;
  font-size: 18px;
  line-height: 27px;
}


.reservation__block {
  margin-top: 50px;
  margin-left: 150px;
  width: 403px;
  height: 455px;
  background-color: $main-color;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);
}

@media (max-width: $tablet-width) {
  .reservation {
    margin-top: 71px;
  }

  .reservation__bg {
    height: 805px;
    background-image: url("../img/reservation-bg-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/reservation-bg-tablet@2x.jpg");
    }
  }

  .reservation__wrapper {
    flex-direction: column;
  }

  .reservation__info {
    margin: 0 auto;
    text-align: center;
  }

  .reservation__info h2 {
    padding-top: 90px;
    font-size: 34px;
    line-height: 51px;
  }

  .reservation__info p {
    padding-top: 5px;
    width: 420px;
  }

  .reservation__block {
    margin: 0 auto;
    margin-top: 52px;
  }
}

@media (max-width: $mobile-width) {
  .reservation {
    margin-top: 35px;
  }

  .reservation__bg {
    height: 760px;
    background-image: url("../img/reservation-bg-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/reservation-bg-mobile@2x.jpg");
    }
  }

  .reservation__info {
    width: 290px;
  }

  .reservation__info h2 {
    padding-top: 60px;
    font-size: 24px;
    line-height: 31px;
  }

  .reservation__info p {
    padding-top: 14px;
    width: 270px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }

  .reservation__block {
    margin-top: 36px;
    width: 290px;
  }

  .reservation__info br {
    display: none;
  }
}
