.travels {
  margin-top: 120px;
  margin-bottom: 120px;
}

.travels__wrapper {
  display: flex;
  justify-content: space-between;
}

.travels__info {
  margin-top: 56px;
}

.travels__info h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
}

.travels__info p {
  margin: 0;
  padding-top: 24px;
  width: 515px;
  line-height: 24px;
}

.travels__info br {
  display: none;
}

.travels__image img {
  display: block;
  width: 560px;
  height: 301px;
}

@media (max-width: $tablet-width) {
  .travels {
    margin-top: 90px;
    margin-bottom: 95px;
  }

  .travels__info {
    margin: 0;
  }

  .travels__info h2 {
    width: 210px;
    font-size: 26px;
    line-height: 36px;
  }

  .travels__info p {
    padding-top: 17px;
    width: 320px;
  }

  .travels__info br {
    display: block;
  }

  .travels__image {
    padding-top: 10px;
  }

  .travels__image img {
    width: 324px;
    height: 264px;
  }
}

@media (max-width: $mobile-width) {
  .travels {
    margin-top: 55px;
    margin-bottom: 65px;
  }

  .travels__wrapper {
    flex-direction: column;
  }

  .travels__info h2 {
    width: 190px;
    font-size: 24px;
    line-height: 34px;
  }

  .travels__info p {
    width: 281px;
  }

  .travels__image {
    margin-top: 25px;
  }

  .travels__image img {
    width: 290px;
    height: 186px;
  }

  .travels__info br {
    display: none;
  }
}
