html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font-base;
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: $white;
  color: $main-color;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
